* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg,#153677,#4e085f);
}

.container {
    background-color: whitesmoke;
    width: 500px;
    margin: 25px auto;
    padding: 20px;
    /* background: #fff; */
    border-radius: 10px;
}

.input {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
  margin-bottom: 20px;
  border-radius: 30px;
  padding-left: 20px;
}

#textBtn {
     
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: transparent;
    outline: none;
    font-weight: 14px;
}

.addB {
    /* width: ; */
    padding: 16px 50px;
    border-radius: 40px;
    border: none;
    background: #ff5945;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(./unchecked.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 12px;
    left: 8px;
}

ul li.checked{
    text-decoration: line-through;
    
}
ul li.checked::before{
    background-image: url(./checked.png);
    background-size: cover;
    background-position: center;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}
ul li span:hover{
    background-color: rgb(218, 213, 213);
}